body{    
    font-family: 'roboto';
    font-size: 16px;
    max-width: 100%;
    position: relative; 
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;   
}
.imgwidth{
    width: 100%;
}
.color{
    width: 367px;
}
.accordion { 
  img{
        display: none;
    }
    background-color: white; 
    color: #444; 
    cursor: pointer; 
    padding-top:16px;
    padding-bottom: 18px; 
    width: 100%; 
    border: none; 
    font-family: 'Roboto';
    text-align: left; 
    outline: none;  
    transition: 0.4s; 
    font-size: 16px;
    line-height: 19px;
    font-weight: 500 !important;
    span{
        float: right;
    background-image: url("Images/Group\ new.png");
    background-repeat: no-repeat;
    background-position-y: -21px;
    width: 16px;
    height: 10px;
    }
  }
  .accordion:after { 
    content: ''; 
    color: #777;  
    float: right; 
    margin-left: 5px;
  } 
   
  .active:after { 
    content: ""; 
  } 
  .active{
    span{
        background-position-y: 0px;
        
    }
  }
  .panel { 
    background-color: white; 
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.2s ease-out; 
  }
  .orange{
    color: #FF6E43;
  }
  .hidden{
      display: flex;
      flex-direction: column;
      display: none;
  }
  .error{
      input{
          color: red;
      }
  }
.box1{
        height: 778px;
        background: linear-gradient(157.5deg, rgba(0, 0, 0, 0.5) 35.32%, rgba(0, 0, 0, 0.0001) 61.71%);
    &__bg{
            background-image: url("Images/Group\ 76.jpg");
            height:100%; 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            mix-blend-mode: normal;
            display: flex;
            flex-direction: column;      
    }
&__logo{
    margin-top: 50px;
    margin-bottom: 30px;
 } 
   &__content{
    position: relative;
    a{
        position: absolute;
        text-align: center;
    padding-top: 17px;
    margin-left: 13px
    }
       h1{
        position: absolute;
        height: 60px;
        left: 8%;
        right: 14.26%;
        top: calc(50% - 60px/2 - 64.5px);
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.833333px;
        color: #FFFFFF;
        z-index: 1;
       }
       p{
        position: absolute;
        height: 84px;
        left: 8%;
        right: 0%;
        top: calc(50% - 84px/2 + 27.5px);
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.785714px;
        color: #D9DAE4;
        z-index: 1;
       }
       &--button{
        position: absolute;
        left: 8%;
        right: 51.82%;
        top: 59.38%;
        bottom: 30.05%;
        width:224px;
        height: 58px;
        background: #FFFFFF;
        border-radius: 29px;
        padding-right: 50px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 1px;
        color: #111111;
        border:none;
        text-decoration: none;
        img{
            transform: rotate(90deg);
            position: absolute;
            left: 160px;
        }
       }
   }
}
.box2{
        &__row1{
           display: flex;
           justify-content: space-around;
           margin-top: 89px;
           h2{
            font-weight: 700;
            font-size: 40px;
            line-height: 46px;
            font-weight: 700;
            color: #272727;
            margin-bottom: 14px;
           }
           p{
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
            color: #222222;
           }
           &--align{
               margin-top: 50px;
           }
        }
        &__row2{
            display: flex;
            justify-content: space-around;
            margin-top: 94.67px;
            h2{
                font-weight: 700;
                font-size: 40px;
                line-height: 62px;
                font-weight: 700;
                color: #242635;
                margin-bottom: 7px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: #242635;

            }
            &--align{
                margin-top: 55px;
            }
            &--img{
                margin-left: 10px;
            }
        }
        &__row3{
            display: flex;
            justify-content: space-around;
            margin-top: 96.56px;
            margin-bottom:102.56px;
            h2{
                font-weight: 700;
                font-size: 40px;
                line-height: 55px;
                font-weight: 700;
                color: #242635;
                margin-bottom: 8px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: #242635;
                letter-spacing: 0.001px;
            }
            &--align{
                margin-top: 36px;
            }
        }
}
.box3{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, #FFF5F2 100%);
    border-top-left-radius: 900px 120px;
    border-top-right-radius: 900px 120px;
    &__row1{
        text-align: center;
        padding-top:78px;
        h2{
            font-size: 40px;
            line-height: 48px;
            font-weight: 700px;
        }
        p{
            margin-top: 8px;
            font-size: 26px;
            line-height: 48px;
        }
    }
    &__row2{
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        margin-bottom: 89px;
        gap:20px;
        &--col1{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            transition: ease 0.3s;
            h2{
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0.144444px;
            font-weight: 700;
            color: #111111;
            margin-bottom: 7px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: #343434;      
            }
            hr{
                width: 574px;
                height: 1px;
            }
        }
        &--col2{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            transition: ease 0.3s;
            h2{
            font-weight: 700;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0.144444px;
            margin-bottom: 7px;
            } 
            p{
                margin: 0 18px 0 22px;
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: #343434;
                margin-left: 0px;
            }
        }
        &--col1:hover{
            background-color: #FF6E43;
            
            h2{
            color:white;
            }
            p{
                color: white;
            }
    }
        &--col2:hover{
            background-color: #FF6E43;
            h2{
                color:white;
                }
                p{
                    color: white;
                }
        }
        &--col3:hover{
            background-color: #FF6E43;
            h2{
                color:white;
                }
                p{
                    color: white;
                }
        }
        &--col3{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            transition: ease 0.3s;
            h2{
            font-weight: 700;
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0.144444px;
            font-weight: 700;
            color: #111111;
            margin-bottom: 7px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                color: #343434;
            }
        }
    }
    &__row3{
        margin-bottom: 88px;
        h2{
            text-align: center;
            margin-bottom: 50px;
            font-size: 40px;
            line-height: 34px;
            font-weight: bold;
        }
        &--col{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        }
        &--col1{
        hr{
            width: 470px;
            height: 1px;
            background: #E0DFDF;
        }
        p{
            font-size: 16px;
            line-height: 29px;
            margin-top: 10px;
            margin-bottom: 8px;
        }
        img{
            margin-right: 10px;
        }
    }
        &--col2{
            hr{
            width: 470px;
            height: 1px;
             }
             p{
            font-size: 16px;
            line-height: 29px;
            margin-top: 10px;
            margin-bottom: 8px;
             }
             img{
                 margin-right: 10px;
             }
        }
    }
}
.box4{
    &__bg{
        background-image: url("Images/testimonials-bg-1.jpg");
        width: 100%;
        height: 825px; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
    }
    &__head{
        h2{
            font-weight: 700;
            font-size: 40px;
            line-height: 47px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 76px;     
        }
        p{
            font-weight: 700;
            font-size: 26.7px;
            line-height: 31px;
            text-align: center;
            color: #FFFFFF;
            padding-top: 42px;
        }
    }
    &__buton{
        text-align: center;
        margin-top: 65px;
        margin-bottom: 85px;
    }
    &__button{
        text-align: center;
            width:224px;
            height: 58px;
            background: #FFFFFF;
            border-radius: 29px;
            padding-right: 50px;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.888889px;;
            color: #111111;
            border:none;
            align-items: center;
            span{
                margin-top:10px;
                margin-bottom: 10px;
            }
            img{
                transform: rotate(90deg);
                position: absolute;
                margin-left: 35px;
                margin-top: 0px;
            }
           }
    
    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 48.98px;
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            text-align: center;
        }
        input{
            font-weight: 400;
            font-size: 17.1628px;
            line-height: 20px;
            color: #FFFFFF;
            background: transparent;
            border: none;
            width: 527.47px;
            border-bottom: 1.3px solid  #6D7B9C;
            padding-top: 20.04px;

        }
       
         &--mail{
            font-size: 16px;
            line-height: 19px;
             margin-top: 51.6px;
             position: relative;
            img{
                margin-top: 21px;
                position:absolute;
            }
            input{
                padding-left:35px ;
                padding-bottom: 20.04px;
            }
            small{
                position: absolute;
                bottom: -29px;
                left: 32px;
                //visibility: hidden;
                color: red
            }
         
        }
        &--end{
            margin-top: 30.66px;
            p{
                font-size: 16px;
                line-height: 23px;
                color: #8C9DC5;
            }
        }
        &--man{
            font-size: 17.1628px;
            line-height: 20px;
            position: relative;
            input{
                padding-left:35px;
                padding-bottom: 20.04px;
               
            }
            img{
                width:20px;
                height: 15px;
                margin-top: 21px;
        
                position: absolute;
            }
            small{
                position: absolute;
                bottom:-29px;
                left:32px;
                color: red;
            
            }
            
         
        }
        &--phone{
            margin-top: 52.62px;
            font-size: 16px;
            line-height: 19px;
            position: relative;
            img{
                margin-top: 21px;
                position: absolute;
            }
            input{
                padding-left:35px;
                padding-bottom: 20.04px;
            }
            small{
                position: absolute;
                bottom: -29px;
                left: 32px;
                //visibility: hidden;
                color: red;
            }
        }
    }
}
.footer{
    
    &__row1{
        text-align: center;
        h2{
            font-weight: 900;
            font-size: 40px;
            line-height: 47px;
            text-align: center;
            color: #272727;
            padding-top: 73px;
            padding-bottom: 55px;
        }
    }
    &__row2{
        display: flex;
        justify-content: space-between;
        margin-bottom: 78px;
        gap:10px;
        font-weight: 500;
        
        li{
            padding:5px 0 5px 5px;
            padding-left: 0px;
            color: #F44916;
            list-style-type: none;
        }
        
        hr{
            height:1px;
            background: #C4C4C4;
         
            width: 485px;
            display: none;
        }
        button{
            border-bottom: 1px solid  #C4C4C4;
        }
        .top{
                float: right;
                margin-top: 13px;
        }
        
    }
    &__row3{
        display: flex;
        justify-content: space-between;
        padding-bottom: 54px;
        p{
            
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #5F5F5F;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: #5F5F5F;
        }
    }
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width:767px){
    .container {
        max-width: 540px;
        padding:0 1rem;
    }
    .hide{
        display: none;
    }
    
    .color{
        width:auto;
    }
    .panel{
        background-position-y: 0px !important;
    }
    
    .box1{
        height: 447px;
        &__logo{
            display: none;
        }
        
        &__content{
            width: 0;
            display: none;
        }
        &__bg{
            background-image: url("Images/Group\ 11.jpg");
           gap:0px;
           display:block;
        }
    .hidden{
        display: block;
        display: flex;
        flex-direction: column;
        gap:50px;
        align-items: center;
         display:block;
            h1{
                font-weight: bold;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.666667px;;
                color: #FFFFFF;
                z-index: 1;
                text-align: center;
                margin-bottom: 28px;
                margin-top: 66.18px;
            }
            p{
            
                font-weight: normal;
                font-size: 20px;
                line-height: 25px;
                text-align: center;
                letter-spacing:  0.714286px;;
                color: #D9DAE4;
                 z-index: 1;
            }
    .button{
        position: relative;
        width:224px;
        height: 58px;
        background: #FFFFFF;
        border-radius: 29px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.777778px;
        color: #111111;
        border:none;
        padding-left: 33.6px;
        padding-right: 71.6px;
        padding-top: 14.4px;
        padding-bottom: 16px;      
            span{
                img{
                transform: rotate(90deg);
            position: absolute;
            margin-left: 22.8px;
                }
            
            }
        }
        .logo{
            padding-top:41.48px;
           img{
               width: 141.7px;
               height: 40px;
           }
            .logoo{
            display:block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .butt{
        text-align:center;
        padding-top:57.4px;
        a{
            text-decoration: none;
            width:179.2px;
            height: 46.4px;
            span{
                margin-top: 5px;
            }
        }
      }
    }
}
    .box2{
        &__row1{
            flex-direction: column;
            margin-top: 37px;
            br{
                display: none;
            }
            h2{
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
            }
           
            &--align{
                margin-top: 20.01px;
            }
        }
        &__row2{
            flex-direction: column-reverse;
            margin-top: 34px;
            br{
                display: none;
            }
            h2{
                font-size: 26px;
                line-height: 62px;
                margin-bottom: 9px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
            }
         
            &--align{
                margin-top: 5.54px;
            }
        }
        &__row3{
            flex-direction: column;
            margin-top: 11px;
            margin-bottom: 28px;
            &--align{
                margin-top: 10.54px;
            }
            h2{
                font-size: 28px;
                line-height: 55px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
            }
        }
        br{
            display: none;
        }
    }
    .box3{
        &__row1{
            padding-top: 35px;
            h2{
            font-size: 28px;
            line-height: 37px;
            }
            p{
                font-size: 18px;
                line-height: 44px;
            }
        }
        &__row2{
            flex-direction: column;
            margin-top: 9px;
            gap:0px;
            margin-bottom: 14px;
            h2{
                font-size: 20px;
                line-height: 23px;
                letter-spacing: 0.111111px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
            }
        
            br{
                display: none;
            }
            &--col1{
                margin-bottom: 8px;
            }
    
          &--col3{
              margin-top: 25px;
            }
        }
        &__row3{
            margin-bottom: 42px;
            h2{
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 9px;
                text-align: left;
            }
            p{
                font-size: 15px;
                line-height: 29px;
              
            }
            &--col{
            flex-direction: column;
            align-items:initial;   
        }
    
        &--col1{
            hr{
                width: 100%;
            }
        }
        &--col2{
            hr{
                width: 100%;
            }
        }
    }
    }
    .box4
    {
        &__bg
        {
        height: 100%;
        }
        &__head{
        h2{
            font-weight: 900;
            font-size: 28px;
            line-height: 37px;
            padding-top: 32px;
        }
        p{
            padding-top: 11px;
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__button{
        width:179.2px;
        height:46.4px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.666667px;
        img{
            height: 13.097984313964844px;
            width: 15.744131088256836px;
        }
    }
        &__form{
            margin-top: 26.83px;
            text-align: center;
            input{
                width:298.97px;
                padding-top: 21.19px;
                padding-bottom: 21.19px;
            }
            hr{
                width:100%;
            }
            small{
                bottom: -24px;
                left:135px;
            }
            &--mail{
                margin-top: 20.6px;
                
            }
            &--phone{
                margin-top: 24.62px;
            }
            &--end{
                margin-top: 34.81px;
            }
        }
        &__buton{
            padding-top: 30px;
            padding-bottom: 39.6px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .footer{
        .accordion{
            padding-top:17px;
            font-size: 15px;
            line-height: 18px;
        }
        &__row1{
            h2{
                font-size: 28px;
                line-height: 33px;
                padding-top: 35px;
                padding-bottom: 13px;
                text-align: left;
            }
        }
        &__row2{
            flex-direction: column;
            margin-bottom: 31px;
            hr{
                width: 100%;
            }
        }
        &__row3{
            flex-direction: column;
            padding-bottom:34px;
            gap:7px;
            p{
                text-align: center;
            }    
        }   
    }

}
@media (max-width:992px) and (min-width: 768px){
    .container {
        max-width: 720px;
    }
    .color{
        width: 225px;
        height: 255px;
    }
    .panel{
        background-position-y: 5px !important;
    }
    .box1{
        &__content{
            position: relative;
            h1{
                left:10%;
                right: 14.26%;
                font-size: 51px;
                letter-spacing: 0.85px;
            }
            p{
                left:10%;
                font-size: 24px;
                letter-spacing: 0.857143px;
            }
            button{
                left:10%;
            }

        }
    }
    .box2{
        h2{
            font-size: 38px;
        }
        p{
            font-size: 15px;
            line-height: 22px;
        }
        br{
            display: none;
        }
        &__row1{
        margin-top: 56px;
        gap:53.3px;

           p{
                width:344px;
            }
            h2{
                line-height: 46px;
                margin-bottom: 17px;
            }
            img{
                height: 206.5884552001953px;
                width: 310.6685791015625px;
                margin-top: 6px;
                margin-right:-13px;
           }
           &--align{
               margin-top: 0px;
           }
        }
        &__row2{
            gap:23px;
            margin-top: 63.76px;
          p{
            width: 346px;
           }
           h2{
            font-size: 38px;
            margin-bottom: 0;
           }
           img{
            height: 174.62501525878906px;
            width: 323.20916748046875px;
            margin-left:-40px;
           }
           &--align{
               margin-top: 17px;
           }
        }
        &__row3{
            margin-top: 54.92px;
            margin-bottom: 69.92px;
            gap:47.73px;
            p{
                width: 349px;
            }
            h2{
                line-height: 55px;
                margin-bottom: 0;
            }
            img{
                height: 174.62501525878906px;
                width: 311.2742919921875px;
                margin-top: 16.85px;
                margin-right:-10px;
            }
            &--align{
                margin-top: 0;
            }
        }
    }
    .box3{
        hr{
            width:350px;
        }
        &__row1{
            padding-top: 71px;
            h2{
                font-size: 38px;
                line-height: 48px;
            }
            p{
                font-size: 26px;
                line-height: 48px;
                margin-top:5px;
            }
            
        }
        &__row2{
            margin-bottom: 58px;
            img{
                height: 96px;
                width: 99px;
            }
            margin-top: 31px;
            h2{
                font-size: 20px;
                line-height: 23px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
            }
            &--col1{
                h2{
                    margin-top: 10px;
                }
                p{
                    width: 225px;
                    margin-top: 43px;
                }
                br{
                    display: none;
                }
            }
            &--col2{
                p{
                width:197px;
                margin-bottom: 23px;
                }
                h2{
                    margin-bottom: 20px;
                    margin-top: 10px;
                }
            }
            &--col3{
                h2{
                    margin-top: 10px;
                }
                p{
                    width: 226px;
                    margin-top: 20px;
                }
            }
        }
        &__row3{
            margin-bottom: 67px;
            h2{
                margin-bottom: 26px;
                font-size: 38px;
                line-height: 34px;
            }
            &--col1{
                margin-left:10px;
            p{
                font-size: 15px;
                line-height: 29px;
                margin-top: 10px;
                margin-bottom: 8px;
                padding-top: 0px;
            }
        
            hr{
                margin-top: 0px;
            }
        }
        &--col2{
            margin-left: 10px;

        p{
            font-size: 15px;
            line-height: 29px;
           
            padding-top: 0px;
        }
        hr{
            margin-top: 0px;
        }
        }
    }
    }
    .box4{
    &__bg{
        height: 679px;
    }
    &__button{
        font-family: 'Roboto';
        padding-right: 56px;
        font-size: 15px;
        line-height: 18px;
        img{
            margin-left: 39px;
        }
    }
        h2{
            font-size: 38px;
            line-height: 45px;
            font-weight: 900;
            padding-top: 51px;
        }
        p{
            margin-top: 32px;
            padding-top: 0;
            font-weight: 900;
        }
        &__form{
            margin-top:47.98px;
            input{
                font-size: 15px;
                line-height: 18px;
                font-weight: 900;
                padding-top:21.04px;
                padding-bottom: 21.04px;
            }
            p{
                margin-top: 0;
                font-size: 15px;
                line-height: 18px;
            }
            &--end{
                font-weight: 900;
                margin-top: 31.66px;
            }
            hr{
                margin-top: 21.04px;
            }
            &--man{
                img{
                    margin-top: 22px;
                }
            }
            &--mail{
                margin-top: 20.6px;
            }
            &--phone{
                margin-top: 24.62px;
            }
        }
        &__buton{
            margin-top: 58px;
            margin-bottom: 59px;
        }
    }
    .footer{ 
        &__row1{
            h2{
                font-size: 38px;
                line-height: 45px;
                font-weight: 900;
                padding-top: 45px;
                padding-bottom: 43px;
            }
        }
        &__row2{
            flex-direction: column;
            gap:0;
            margin-bottom: 61px;
            
        }
        &__row3{
            padding-bottom: 43px;
            margin-left: 21px;
            margin-right: 25px;
        }
    }
    .accordion{
        font-size: 15px;
        line-height: 18px;
        font-weight: 500 !important;
        padding-top: 17px;
    }
    .adjust{
        padding-top: 21px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    } 
}